@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ubuntu-regular';
  src: url('assets/font/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu-bold';
  src: url('assets/font/Ubuntu-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ubuntu-medium';
  src: url('assets/font/Ubuntu-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'zonapro-bold';
  src: url('assets/font/ZonaPro-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'zonapro-light';
  src: url('assets/font/ZonaPro-ExtraLight.otf') format('opentype');
}

body {
  font-family: 'ubuntu-regular', sans-serif;
}

.logo-svg {
  fill: #3021ff;
}

.dark .logo-svg {
  fill: #ffffff;
}

.background-image {
  background-image: url('assets/images/second-image.png');
  background-size: cover;

  background-repeat: no-repeat;
}
.background-image-2 {
  background-image: url('assets/images/background-image-2.png');
  background-size: cover;

  background-repeat: no-repeat;
}
.background-image-3 {
  background-image: url('assets/images/background-image-3.png');
  background-size: cover;

  background-repeat: no-repeat;
}
.background-image-4 {
  background-image: url('assets/images/background-image-4.png');
  background-size: cover;

  background-repeat: no-repeat;
}
.background-image-5 {
  background-image: url('assets/images/background-image-5.png');
  background-size: cover;

  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .background-image {
    background-size: cover;
    background-position: 65% 50%;
  }
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar-scrolled {
  background-color: #ffffff;
  color: black;
}

.scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroll_inner {
  width: max-content;
  flex-wrap: nowrap;
}
