@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "ubuntu-regular";
  src: url("assets/font/Ubuntu-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "ubuntu-bold";
  src: url("assets/font/Ubuntu-Bold.ttf") format("truetype");
}

@font-face{
  font-family: "ubuntu-medium";
  src: url("assets/font/Ubuntu-Medium.ttf") format("truetype");
}

body{
  font-family: "ubuntu-regular" ,sans-serif;
  
}

.logo-svg {
  fill: #3021ff; 
}

.dark .logo-svg {
  fill: #ffffff; 
}